{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <legend>{{ 'user.login'|trans }}</legend>
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div>
                <label for="username">{{ 'security.login.email'|trans }}</label>
                <input placeholder="{{ 'security.login.email'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div>
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>

            <div>
                <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </fieldset>
    </form>
{% endblock fos_user_content %}
