{% extends 'MopaBootstrapBundle::layout.html.twig' %}

{% block title -%}
    MH Symfony2 Skeleton
{%- endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('homepage') }}">MHSkeletonBundle</a>
                <div class="pull-left">
                    {{ knp_menu_render('MHSkeletonBundle:NavBarBuilder:leftMenu', {'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': 'true', 'template': 'MHSkeletonBundle:Menu:knp_menu.html.twig'}) }}
                </div>
                <div class="pull-right">
                    <ul class="nav">
                        {% if app.user %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {% set gravatarSize = 26 %}
                                    <img class="gravatar" src="{{ gravatar(app.user.email, gravatarSize) }}" width="{{ gravatarSize }}" height="{{ gravatarSize }}" />
                                    {{ app.user.usernameCanonical }}
                                    <b class="caret"></b>
                                </a>
                                {{ knp_menu_render('MHSkeletonBundle:NavBarBuilder:rightMenu', {'class': 'nav', 'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': 'true', 'template': 'MHSkeletonBundle:Menu:knp_menu.html.twig'}) }}
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">{{ 'login'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div class="content-start"></div>
    {% block content %}
    {% endblock %}
{% endblock %}

{% block head_style -%}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/sass/mopabootstrapbundle.scss'
        '@ManyMulesFontAwesomeBundle/Resources/public/css/font-awesome.css'
        '@MHSkeletonBundle/Resources/public/css/main.sass'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{%- endblock head_style %}
