{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <legend>{{ 'user.login'|trans }}</legend>
        {% if error %}
            <div class="alert alert-error">
                <i class="icon-exclamation-sign"></i>
                {{ error|trans({}, 'FOSUserBundle') }}
            </div>
        {% endif %}
        <fieldset>
            <div class="row">
                <div class="span3">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div>
                        <label for="username">{{ 'security.login.email'|trans }}</label>
                        <input placeholder="{{ 'security.login.email'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>

                    <div>
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="password" id="password" name="_password" required="required" />
                    </div>

                    <div>
                        <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    </div>

                    <div>
                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </div>
                <div class="span2">
                    <div>
                        <label>Login via:</label>
                    </div>
                    <a class="btn btn-block btn-primary" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}"><i class="icon-facebook-sign"></i> <strong>facebook</strong></a>
                    <a class="btn btn-block btn-warning" href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}"><i class="icon-google-plus-sign"></i> <strong>google</strong></a>
                    <a class="btn btn-block btn-info" href="{{ path('hwi_oauth_service_redirect', {'service': 'linked_in'}) }}"><i class="icon-linkedin-sign"></i> <strong>linked in</strong></a>
                    <a class="btn btn-block" href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}"><i class="icon-twitter-sign"></i> <strong>twitter</strong></a>
                    <a class="btn btn-block btn-success" href="{{ path('hwi_oauth_service_redirect', {'service': 'windows_live'}) }}"><i class="icon-sign-blank"></i> <strong>windows live</strong></a>
                </div>
                <div class="span7">
                    <div class="pull-right">
                        <h2>Don't have account yet?</h2>
                        <p>
                            You can create new account right away... just click over <a href="{{ path('fos_user_registration_register') }}">here</a>
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock fos_user_content %}
